body{
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-highlight{
    color:orange ;
}
.half-width{
    width: 40%;
    float: left;
    margin-left:5% ;
    padding-left: 2%;

}
.half-width img{
    width:70%;
}
.top-banner{
    
    background-image:url("Images/top-banner.png") ;
    background-repeat: no-repeat;
}
section{
    height:500px;
}.link-button{
    text-decoration: none;
    background-image:linear-gradient(45deg,red,green) ;
    padding: 10px 20px;
    border-radius: 50px;
    color:white;
    font-size: 700;
}
.new-link-button{
    color:black;
    font-size: 800;
    text-decoration: none;
    background-image: linear-gradient(60deg,yellow,red);
    padding: 10px;
    border-radius: 60px;
}
.new-half-width{
    float:right;
    width: 40%;
    margin-left: 5%;
    padding: 2%;
}
.new-top-banner{
    background-image: url("Images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 4px;
    height: 40%;
    background-color: white;
}
.experience-area{
    background-image: url("Images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(yellow,red);
    border-image-slice:1;
}
#baby{
    border-left: 7px solid;
    border-image:linear-gradient(red,yellow);
    border-image-slice: 2;
}
footer p{
    text-align: center;
    font-size: 20px;
}